body {
  background-color: rgb(242,246,246);
}

.task-row {
  background-color: white;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
  table {
    border: 0;
  }
  
  .text-info {
    padding-left: 5px;
    h2 {
      font-weight: normal;
      font-size: 1.5em;
      color: rgb(51,51,51);
    }
    p {
      font-size: 1.1em;
      color: #aaa;
      margin-top: 5px;
    }
  }
}

.red {
  color: red;
}

.tip-box {
  margin-top: 20px;
  border: 2px solid red;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 10px;
  font-size: 1.2em;
}

.detail-info {
  margin-top: 20px;
  border-bottom: 0;
  .step-item {
    margin-bottom: 20px;
  }
  .order {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: red;
    color: white;
    text-align: center;
  }
  .tip-text {
    padding-left: 10px;
    font-size: 1.2em;
    color: #666;
  }
  .copy-id {
    width: 80%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    border: 1px dashed rgb(43,184,20);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .help-text {
    font-size: 1em;
    color: #aaa;
    text-align: center;
  }
}

.notice {
  background-color: rgb(254,245,199);
  padding: 10px 0;
  border-top: 1px solid rgb(241,209,143);
  border-bottom: 1px solid rgb(241,209,143);
  font-size: 1.1em;
  color: #aaa;
}

.task-tip {
  margin-top: 20px;
  margin-bottom: 30px;
  .text {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 8px;
  }
  .black {
    color: black;
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
    border: 0;
  }
}